<div class="row model">
  <p id="stlstring"><%= @file %></p>
  <script>
    $(document).ready(function(){
      var viewer = new modelViewer("#container", "#annotation_list",<%= @model.id %>, <%= @user.id %>);
      viewer.addModel("<%= escape_javascript(contents_user_model_file_url) %>");

      $("#annotation_controller").toggle(
          function(){ $("#annotation_controller").html("Turn annotations on"); viewer.toggleAnnotations(); },
          function(){ $("#annotation_controller").html("Turn annotations off"); viewer.toggleAnnotations(); }
        );
    });
  </script>
  <div id="container">
      <div class="status"> <span id="loader_status"> </span> </div>
      <div id="annotation_controller" class="status" > Turn annotations off </div>

  </div>

  <div id="annotations">
    <div class="subtitle">Annotations </div>
    <ul id="annotation_list">
    </ul>
  </div>
</div>
