<%= render "dropbox/breadcrumbs" %>

<div class="row model">
  <p id="stlstring"><%= @file %></p>
  <script>
    $(document).ready(function(){
      var text = $("#stlstring").html();
      var viewer = new modelViewer();
      viewer.init("container", <%= @model.id %>);
      viewer.loadObject(text, true);
    })
  </script>
  <div id="container">
      <div class="status"> <span id="loader_status"> </span> </div>
  </div>

  <div id="annotations">
    <div class="subtitle">Annotations </div>
    <ul id="annotation_list">
    </ul>
  </div>
</div>
