<li id="discussion-<%=discussion.id%>">
  <div class='member'>
    <%= discussion.member.name %>
  </div>
  <div class='text'>
    <%= discussion.text %>
  </div>
  <div class='time'>
    <%= timestamp(discussion, length: :short) %>
  </div>
</li>
