<li class="subtitle" id="notifications"> <%= pluralize notifications.count, "event" %> </li>
<% notifications.each do |notification| %>
  <%= render "notifications/notification", notification: notification %>
<% end %>

<script>
  //Actually make some unread and some read!
  var numUnread = <%= current_member.notification.count %>;
  console.log(numUnread);

  $('.notifications ul li:not(:first-child)').each(function(){
    if (numUnread != 0) {
      $(this).addClass('unread');
      numUnread --;
    }
  })

</script>
