<li class="subtitle"> <%= notifications.count %> events </li>
<% notifications.each do |notification| %>
  <%= render "notifications/notification", notification: notification, unread: notifications.count == 0 ? false : true %>
<% end %>
