<%= render "layouts/header" %>
<div class="notifications section _page">
	<ul class="dropdown expanded perm">
	 	<%= render "notifications/notifications", notifications: @notifications, dropdown: false %>
	</ul>
</div>		     


