<div class="row">
  <h1><%= @modelname %></h1>
  <h3><%= link_to "Back", navigate_path(@parent) %></h3>
  <p id="stlstring"><%= @file %></p>

  <div id="container">
  </div>
  <div> Loader status: <span id="loader_status"> </span> </div>

  <div id="annotations">
    <h2> Annotations </h2> 
    <h3> A to rotate, S to zoom, click to add annotation </h3>
    <ul id="annotation_list">
    </ul>
  </div>
</div>
