<div class="add">
     <div class="subtitle green" id="add_project"> <span> + </span> Add files  </div>

      <script>
      $("#add_project").click(function(){ $("#addfile_popover").show(); });
      </script>
   </div>  <!-- TODO: Currently the entire css for breadcrumbs is very janky -->

</div>
