<div class="add">
     <div class="subtitle green" id="add_project"> <span> + </span> Add files  </div>

      <script>
      $("#add_project").click(function(){
      	$.get("/directories", {"project_id": <%= @project.id %>});
      });
      </script>
   </div>  <!-- TODO: Currently the entire css for breadcrumbs is very janky -->

</div>
