<div class="section projects">
  <%= render "layouts/navbar_top" %>

  <ul class="row files">
    <% if @project.share or current_member.admin? %>
      <%= render @project.members %>	
    <% else %>
      <%= render current_member.files_in(@project) %>	
    <% end %>
  </ul>

<%= render "layouts/addfile_popover" %>

</div>
