<li class="revision_dropdown">
  <ul class="subtitle revisions dropdown">
    <%= render @model_file.versions %>
    <li> <%= link_to "See all versions", model_file_url(@model_file) %> </li>
  </ul>
</li>

