<h1><%= @model_file.path %></h1>
<h2>Versions</h2>
<%= render @versions %>
<h2>Dropbox File History</h2>
<% @dropbox_revisions.each do |rev| %>
  <li>
    <%= rev["revision"] %>
    <%= rev["modified"] %>
  </li>
<% end %>
