<%= render "layouts/header" %>
<%= render "dropbox/breadcrumbs" %>

<div class="row versions">

  <ul>
    <li class="subtitle"> 
      <div class="dropbox"> Version number</div>
      <div class="date"> Last changed</div>
      <div class="action"> </div>
      <div class="message"> Commit message </div>
    </li>
    <% @history.each do |rev| %>
      <%= render "layouts/version", :revision => rev%> <!-- TODO: we should probably change where this is stored -->
    <% end %>
  </ul>
</div>

<script>

//TODO: Move this to its own file
$(document).ready(function(){



  //Takes an element and returns JSON with its info
  function getInfoFromElement(el){

    var details;

    if ($(el).is('input')) { //If its the input - we gotta skip a layer and set the message to the right thing (jankkk!)
      details = $(el).val();
      el = $(el).parent();
    } else {
      el = $(el);
      details = null;
    }
    var id = el.siblings('.dropbox').html().trim();
    var date = el.siblings('.date').html().trim();
    return {"id": id, "date": date, "details": details};
  }

  /* UI METHODS to add/remove input */

  //HOVER OVER for marked -> unmark
  $('.versions').on('hover', 'li div.action.marked', function(event){
    event.preventDefault();
    if (event.type == "mouseenter"){
      $(this).addClass('unmark');
    } else {
       $(this).removeClass('unmark');
    }
    
  });

  //Add input on unmarked click
  $('.versions').on('click', 'li div.action.unmarked', function(){
    console.log("click");
    var parent = $($(this).parent());
    var input_element = "<input type='text' placeholder='Enter commit message here'>";
    parent.find('.message').html(input_element);
    parent.find('.message').find('input').focus();
  });

  //Input enter just blurs it
  $('.versions').on('keyup', 'li .message input', function(event){
    if (event.keyCode == 13) {
        $(this).blur();
    }
  });

  /* ACTION METHODS */

  //On input blur (finished typing) -> Post new version to DB
  $('.versions').on('blur', 'li .message input', function(event){
    //TODO: POST REQUEST WHY DO YOU NEED ALL THE DATA! why can I not send you just the version number?
    var elJson = getInfoFromElement(this);
    console.log(elJson);
    var jqxhr = $.post(
      '/model_files/' + "<%= @model.id  %>" + '/versions', 
      {"revision_number": elJson.id , "details": elJson.details, "revision_date": elJson.date})
      .fail(function(){ alert("Error") } );
    
  });

  //On unmark click -> Rollback (delete) version from db
  $('.versions').on('click', 'li div.action.marked.unmark', function(){
    console.log(this);
     var jqxhr = $.ajax({
        url: '/versions/'+ getInfoFromElement(this).id,
        type: 'DELETE'})
        .fail(function(){ alert("error") } );
  });

});

</script>
