<%= render "layouts/header" %>
<%= render "dropbox/breadcrumbs" %>

<div class="row versions">

  <ul>
    <li class="subtitle"> 
      <div class="dropbox"> Version number</div>
      <div class="date"> Last changed</div>
      <div class="action"> </div>
      <div class="message"> Commit message </div>
    </li>
    <% @history.each do |rev| %>"
      <%= render "layouts/version", :revision => rev%> <!-- TODO: we should probably change where this is stored -->
    <% end %>
  </ul>
</div>

<script type="text/javascript">

$(document).ready(function(){

  //TODO: MOVE THIS SCRIPT TO A GENERAL VERSION SCRIPT AND HAVE THAT INCLUDED!!

  //Takes an element and gets the id from the parent
  function getInfoFromElement(el){

    var details;

    if ($(el).is('input')) { //If its the input - we gotta skip a layer and set the message to the right thing (jankkk!)
      details = $(el).val();
      el = $(el).parent(); 
    } else {
      el = $(el);
      details = null;
    }
    var id = el.siblings('.dropbox').html().trim();
    var date = el.siblings('.date').html().trim();
    return {"id": id, "date": date, "details": details};
  }

  //UI METHODS to add/remove input
  //HOVER OVER for marked -> unmark
  $('.version').on('hover', 'div.action.marked', function(event){
    event.preventDefault();
    if (event.type == "mouseenter"){
      $(this).addClass('unmark');
    } else {
       $(this).removeClass('unmark');
    }
    
  });

  //Add input on unmarked click
  $('.version').on('click', 'div.action.unmarked', function(){
    console.log("click");
    var parent = $($(this).parent());
    var input_element = "<input type='text' placeholder='Enter commit message here'>";
    parent.find('.message').html(input_element);
    parent.find('.message').find('input').focus();
  });

  //Input enter just blurs it
  $('.version .message').on('keyup', 'input', function(event){
    if (event.keyCode == 13) {
        $(this).blur();
    }
  });

  //Blur calls success
  $('.version .message').on('blur', 'input', function(event){
    //TODO: POST REQUEST WHY DO YOU NEED ALL THE DATA! why can I not send you just the version number?
    var elJson = getInfoFromElement(this);
    console.log(elJson);
    $.post('/model_files/' + "<%= @model.id  %>" + '/versions', {"revision_number": elJson.id , "details": elJson.details, "revision_date": elJson.date}, function(data){
      console.log(this); //TODO: THIS FUNCTION ISN'T CALLING
      console.log(data);    
    });
    
  });

  //Rolls back a specific version to a revision (tied to unmark click)
  $('.version').on('click', 'div.action.marked.unmark', function(){
    console.log(this);
     $.ajax({
      url: '/versions/'+ getInfoFromElement(this).id,
      type: 'DELETE',
      success: function(result) {
          console.log(this); //TODO: THIS FUNCTION ISN'T CALLING?
          console.log(result);
        }
      });
  });

  

});
</script>


