<div class="row navigate">
  <ul class="subtitle crumbs">
    <% @breadcrumbs.each do |crumb| %>
      <li><%= link_to crumb[:title], crumb[:link] %></li>
    <% end %>
  <% if @full_version_view %>
      <li class="revision_dropdown">
        <ul class="subtitle revisions dropdown">
          <%= render @model_file.versions %>
          <li> <%= link_to "See all versions", model_file_url(@model_file) %> </li>
        </ul>
      </li>
    </ul>
    <% if @model_file %>
        <div class="add">
          <%= link_to image_tag("settings.png", :alt => "file settings"), model_file_url(@model_file) %>  <!-- KTODO: ONLY VISIBLE TO THIS USER! -->
        </div>
    <% end %>
  <% else %>
  </ul>
	<% end %>
</div>
