
<div class="row header">
	<div class="logo title"> Fabbit </div>
	<div class="user"> 
		<div class="subtitle" id="me"> bhaviksingh@gmail.com </div>
		<ul>
			<li> Notifications </li>
			<li> Logout </li>
		</ul>
		<script>
			$(".header .user .subtitle").click(function(){ $(".header .user ul").slideToggle()});
		</script>
	</div>
</div>

<div class="row navigate">

  <ul class="subtitle">
        <li> <%= link_to "Your projects", user_navigate_path %> </li>

        <% @breadcrumbs.each do |crumb| %>
          <li><%= link_to crumb[:text], crumb[:link] %></li>
        <% end %>
        <li></li>
  </ul>

</div>
