

<div class="row navigate">

  <ul class="subtitle crumbs">
        <li> <%= link_to "Your files", navigate_url %> </li>

        <% @breadcrumbs.each do |crumb| %>
          <li><%= link_to crumb[:text], crumb[:link] %></li>
        <% end %>
        <% if @model && !@full_version_view%>
        <li class="revision_dropdown">
		      <ul class="subtitle revisions">
		        <%= render @model.versions %>
		        <li> <%= link_to "See all versions", model_file_versions_url(@model) %> </li>
		      </ul>
        </li>
		  <% end %>
        
  </ul>

  
  

</div>
