<li <%= raw content[:is_dir] ? "class='inset blue' " : "class='inset gray'" %> id="<%= encrypt_id(content[:model_file_id]) %>">
  <div> <%= link_to content[:content], content[:link] %> </div>
  <div> In x projects </div>
  <div> Last viewed x months </div>
  <% if !content[:is_dir] %>
  <div class="opener">
    <%= image_tag("settings.png", :alt => "file settings") %> <!-- KTODO: THIS SHOULD LINK TO THE VERSIONS PAGE! -->
  </div>
  <% end %>
</li>

