<li <%= raw content[:is_dir] ? "class='inset blue' " : "class='inset gray'" %> id="<%= encrypt_id(content[:model_file_id]) %>">
  <div> <%= link_to content[:content], content[:link] %> </div>
  <div> In x projects </div>
  <div> Last viewed x months </div>
  <% if !content[:is_dir] %>
  <div> 
 	<div class='opener'> v </div> 
   	<%= render "dropbox/projects_dropdown", projects: content[:projects], model_file_id: content[:model_file_id] %>
  </div>

  <script>
  	//This project opens and closes the project list
    $('.inset .opener').toggle(
        function() { console.log($(this).siblings()); $(this).next().show(); }, 
        function() { $(this).next().hide(); }
    );  
  </script>

  <% end %>
</li>

