
<div class="row header">
	<div class="logo title"> Fabbit </div>
	<div class="user"> 
		<div class="subtitle" id="me"> bhaviksingh@gmail.com </div>
		<ul>
			<li> Notifications </li>
			<li> Logout </li>
		</ul>
		<script>
			$(".header .user .subtitle").click(function(){ $(".header .user ul").slideToggle()});
		</script>
	</div>
</div>

<div class="row navigate">

  <ul class="subtitle">
  	<li> Your projects </li>
  	<li> Something </li>
  	<li> <%= lastthing %></li>
	 <li>  <%= link_to "back", navigate_path(parent_link(@parent)) %></li>
  </ul>

</div>