<div class='project_list'> 
  <div class='opener'> v </div> 
  <ul>
    <% if projects.empty? %>
      <li> You have not opened this file yet! </li>
    <% end %>
    <% projects.each do |project| %>
      <li id='<%= project[:id] %>'> <input type='checkbox' <%= project[:has_model_file] ? "checked" : ""%>>
        <%= project[:name] %>
      </li>
    <% end %>
  </ul>
</div>
