<div class='project_list'> 
  <div class='opener'> v </div> 
  <ul>
    <% if projects.empty? %>
      <li> You have not opened this file yet! </li>
    <% end %>
    <% projects.each do |project| %>
      <%= render 'dropbox/project_checkbox', project: project %>
    <% end %>
  </ul>
</div>
