<ul>
	<% if projects.empty? %>
	  <li> You have not opened this file yet! </li>
	<% end %>
	<% projects.each do |project| %>
	  <%= render 'dropbox/project_checkbox', project: project, model_file: model_file %>
	<% end %>
</ul>

<script>

 //On unmarked click we commit it 
  $('.settings.project_list').on('click', 'li div.action.unmarked', function(event) {

    var id = $(this).parent().attr('id');
    id = parseInt(id.replace("project_",""));
    var model_file_id = "<%= model_file.id %>";

    console.log("Commiting project" + id);
    $.post('/project_model_files/', {"project_id": id, "model_file_id": model_file_id}, function(data) {
      //Do nothing
    });

  });


  //On unmark click -> Rollback (delete) version from db
  $('.settings.project_list').on('click', 'li div.action.marked.unmark', function(){
    //rollback!
    var id = $(this).parent().attr('id');
    id = parseInt(id.replace("project_",""));
    var model_file_id = "<%= model_file.id %>";

    console.log("Deleting project" + id);

    $.ajax({
      url: '/project_model_files/' + id,
      type: 'DELETE',
      success: function(result) {
        //Do nothing
      }
    });

  });

</script>
