<% if project.model_files.include?(model_file)%>
<li id='project_<%= project.project_model_file(model_file).id %>'> 
  	<div class="action marked">
<% else %>
<li id='project_<%= project.id %>'> 
	<div class="action unmarked">
<% end %>
	</div>
	<div class="project_name">
 		<%= project.name %>
	</div>
</li>
