<% if project.model_files.include?(model_file)%>
  <li id='<%= project.project_model_file(model_file).id %>'> <input type='checkbox' checked >
<% else %>
  <li id='<%= project.id %>'> <input type='checkbox'>
<% end %>
  <%= project.name %>
</li>
