<%= render "layouts/header" %>

<div class="section">

  <%= render "dropbox/breadcrumbs" %>
  
  <ul class="row files">
    <% @contents.each do |content| %>
      <%= render "dropbox/content", content: content %>
     
      <script>
        //This section makes the whole thing clickable - but we remove it for now because it fucks with the opener
        //  $(".files .inset").click(function(){
        //    var h = this.children[0].children[0];
        //    console.log(h);
        //    window.location = h;
        // });
      </script>

    <% end %>
  </ul>
</div>

<%= render "layouts/project_list" %>
