<%= render "layouts/project_list" %>

<div class="section">
  <%= render "layouts/navbar_top" %>

  <ul class="row files">
    <% if @contents.empty? %>
      <li class="inset white" >
        <div>  No files created </div>
        <div> Add files through Dropbox </div>
      </li>
    <% else %>
      <% @contents.each do |content| %>
        <%= render "dropbox/content", content: content %>

        <script>
          //This section makes the whole thing clickable - but we remove it for now because it fucks with the opener
           $(".files .inset").click(function(){
             var h = this.children[0].children[0];
             if ( h !== undefined) {
              window.location = h; 
             }
             
          });
        </script>

      <% end %>
    <% end %> 
  </ul>
</div>

</div>




