<%= render "layouts/header" %>

<section>

  <%= render "dropbox/breadcrumbs" %>
  <ul class="row files">
    <% @contents.each do |content| %>
      <%= render "dropbox/content", content: content %>
    <% end %>
    <script>
    //This section makes the whole thing clickable - but we remove it for now because it fucks with the opener
    //  $(".files .inset").click(function(){
  	//    var h = this.children[0].children[0];
  	//    console.log(h);
  	//    window.location = h;
  	// });

    //This project opens and closes the project list
    $('.inset .project_list .opener').toggle(
      function() { console.log($(this).siblings()); $(this).next().show(); }, 
      function() { $(this).next().hide(); }
    );


    //This function keep tracks of checkbox toggling
    $('.inset .project_list ul li input').change(function(){
      
      var id = $(this).parent().attr('id');
      
      if (this.checked) {
        console.log("POSTING " + id); 
        $.post('/project_model_files/', {"project_id": id, "model_file_id": 5}, function(data) {//KTODO: I NEED THE
          console.log(data);
        });
      } else {
        console.log("DELETING " + id);
        $.ajax({
          url: '#' + id,
          type: 'DELETE',
          success: function(result) {
            console.log(result);
          }
        });
      }
    })

    </script>
  </ul>
</section>

<section>
  <div class="row navigate projects">
    <ul class="subtitle crumbs green">
      <li> <a href="#"> Your projects </a> </li>
      <li></li>
    </ul>
  </div>

  <ul class="row files">
    <%= render @projects, view: :nav_view %>
  </ul>

</section>
