
<%= render "dropbox/breadcrumbs" %>

<ul class="row files">

  <% @contents.each do |content| %>
    <li <%= raw content[:is_dir] ? "class='inset blue' " : "class='inset gray'" %> >
      <div> <%= link_to content[:content], content[:link] %> </div>
      <div > 3 new events </div>
      <div> Last viewed 2 months </div>
    </li>
  <% end %>
  <script>
  $(".files .inset").click(function(){
	   var h = this.children[0].children[0];
	   console.log(h);
	   window.location = h;
	});
  </script>
</ul>
