$blue: #3079ed;
$black: #1c1c1c;
$green: rgb(37, 134, 37);
$light_green: #E0FFE0;
$gray: gray;
$red: red;
$yellow: rgb(255, 255, 234);

 body {
 	color: $black;
	font-family: Helvetica, Arial, serif;
	font-size: 14px;
	height: 100%;
	background: #F9FEFF;
}

.container {
	background: white;
	height: 100%;
	position: absolute;
	margin-left: -475px;
	left: 50%;
	width: 900px;
	padding: 25px ;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border: 1px solid rgb(237, 237, 255);
	border-top: none;
	border-bottom: none;

}

//UI ELEMENTS

.messageWrapper {
	position: absolute;
	left: 50%;
	bottom: -15px;	
}

.messageDialogue {
	position: relative;
	left: -50%;
	padding: 10px;
	border-radius: 5px;
	background: rgba(200,200,200,.4);
	border: 1px solid rgb(200,200,200);	
	color: $gray;
}

#errorMessage {
	color: rgba(255, 66, 66,0.8);
	border: 1px solid rgb(255, 66, 66);
	background: rgba(252, 215, 215, 1);
	display:none;
}

#progressMessage {
	display: none;
	background: white;
	color: rgba(150,150,150,0.8);
	border: 1px solid #eee;
}

#progressMessage img {
	width: 20px;
	margin-bottom: -5px;
	margin-right: 5px;
}

.form {
	background: white;
	border: 1px solid lighten($gray, 40%);
	padding: 10px 0px;
	float: left;
}

.form input {
	margin: 5px 0px;
	float:left;
	clear: left;
	padding: 10px 0px;
}

//Generic dropdown UI
ul.dropdown {
	position: absolute;
}

ul.dropdown li {
	text-align: left;
	display: none;
	min-width: 100px;
	width: 100%;
	margin-bottom: 0px;
	margin-top:-1px; //BTODO WTF IS THIS JANK SHIT BRO
	padding: 10px 10px;
	background: none;
	border: 1px solid rgba(0,0,0,0);
	cursor:pointer;
}

//Dropdown li: The first-child is always block, when expanded they all are
ul.dropdown li:first-child, ul.dropdown.expanded li {
	display: block;
}

//To accomodate for header
ul.dropdown.expanded li:first-child{ 
	background:none;
}

ul.dropdown.expanded li {
	color: $gray;
	background: white;
	border: 1px solid lighten($gray, 40%);
}

ul.dropdown.expanded li:last-child{
	border-bottom: 2px solid lighten($gray, 40%);
}

ul.dropdown.expanded li:hover {
	color: $black;
}

//Sectionsa are groupings of rows! (Basically a row but with a margin at the bottom)
.section {
	margin-top: 20px;
	float: left;
	clear: left;
	width: 100%;
	position: relative;
}

.row {
	float:left;
	clear:left;
	width: 100%;
	position: relative; //To have absolute elements
}

.title, h1{
	color: $black;
	font-size: 28px;
}

.subtitle, h2 {
	font-size: 18px;
}

.splash {
	padding: 20px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}


.splash .title{
	margin-bottom: 10px;
	font-size: 50px;
}

.splash .subtitle {
	margin-bottom: 20px;
	font-size: 22px;
}

.inset {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;

}

.inset.gray {
	background-color: lighten($gray, 40%);
	border: 1px solid lighten($gray, 20%);	
	color: $gray;
}
.inset.blue {
	background-color: lighten($blue, 40%);
	border: 1px solid lighten($blue, 20%);
	color: $blue;
}

.inset.green {
	background-color: $light_green;
	border: 1px solid lighten($green, 20%);
	color: $green;
}

.inset .project_list {
	position: absolute;
	top: 25px;
	right: 0px;
	padding: 10px;
	display: none;
	color:black;
	background: rgba(255,255,255,0.8);

}

.header {
	width: 100%;
	vertical-align: bottom;
	border-bottom: 1px solid rgba(200,200,200,.6);
	padding-bottom: 10px;
	margin-bottom: 15px;
	position: relative;
	z-index: 3;
}

.header .right {
	position: absolute;
	top:0px;
}

.header .member {
	right: 123px;
}

.header .member .dropdown {
	width: 80px;
}

.header .dropdown li:first-child {
	text-align: center; 
}

.header .notifications {
	right: 247px;
}

.header .notifications .dropdown {
	width: 160px;
}

.header .notifications .dropdown.expanded .unread {
	background:$yellow;
}


.header .notifications li:first-child {
	width: 80px;
}


.header .logo {
	float: left;
}

.header .subtitle {
	color: $gray;
}

.row.navigate {
	width:100%;
	z-index:2;
}

.navigate .add {
	float:right;
	cursor: pointer;
	padding: 10px 0px;
	position:relative;
	z-index: 20;
}

.navigate .add img {
	height: 20px;
	opacity: 0.8;
}

.navigate .add img:hover {
	opacity: 1;
}

.projects .navigate .add span {
	top: -1px;
	left: -2px;
	position: relative;
}	

.projects .navigate .add:hover span {
	font-style: italic;
};

.projects .navigate .add .form {
	position: absolute;
	top: 40px;
	left: -30px;
	display: none;
}

.projects .navigate .add .form input[type=text] {
	padding: 5px;
	margin: 10px;
	border-bottom: 1px solid lighten(gray, 40%);
}

.projects .navigate .add .form input[type=submit]{
	padding: 10px;
	margin-left: 35px;
	background: rgba(100,100,100,0.3);
	color: $gray;
}

.projects .navigate .add .form input[type=submit]:focus,.projects .navigate .add .form input[type=submit]:hover{
	color:black;
}

.navigate ul.crumbs {
	float: left;
	padding: 10px 0px;
}

//Generic to both crumbs and navigate
.navigate ul.crumbs li {
	padding-right: 5px;
	cursor: pointer;
}


//Crumb specific
.navigate ul.crumbs > li {
	color: $blue;
	float:left;
}

.navigate .green, .navigate ul.crumbs.green > li{
	color: $green;
}

.navigate ul.crumbs > li:before {
	content: '>';
	color: blue;
	color: $gray;
	font-size: 14px;
	padding-right: 5px;
	position: relative;
	top: -2px;
	display: inline;
}

.navigate ul.crumbs > li:first-child:before, .navigate ul.crumbs > li.revision_dropdown:before {
	display: none;
}

.navigate ul.crumbs > li:last-child{
	cursor: default;
	color: $black;
}




//Revisions dropdown stuff

//The date display for revisions

.navigate ul.revisions.dropdown {
	position: absolute;
	margin-left: 5px;
	margin-top: -10px;
}
.navigate ul.revisions.dropdown li span {
	color: $gray;
	display: block;
	font-size: 14px; //TODO: getting messy again, maybe have spans be the subtitles;
}


//Only show date whn expanded
.navigate ul.revisions.dropdown li:first-child span {
	display: none;
}

.navigate ul.revisions.expanded li:first-child span {
	display: block;
}

.navigate ul.revisions.dropdown li:first-child:before {
	content: ">";
	font-size: 15px;
	position: absolute;
	padding-right: 5px;
	left: -5px;
	color: $gray;
}

.navigate ul.revisions.dropdown.expanded li:first-child:before {
	content: "v";
}



.files .inset{
	position: relative;
	width: 194px;
	height: 150px;
	padding-top: 60px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	overflow: visible;
	cursor:pointer;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}
.files .inset:nth-child(4),.files .inset:nth-child(8),.files .inset:nth-child(12),{
    margin-right: 0px;
}

.files .inset div{
	opacity: .6;
}	

.files .inset div:first-child{
	margin-bottom: 8px;
}


.files .inset:hover div {
	opacity: 1;
}

.files .inset:hover div:first-child{
	opacity: 1;
}

.files .inset .opener {
	position: absolute;
	top: 5px;
	right: 5px;
	display:none;
}

.files .inset:hover .opener {
	display:block;
}

.files .inset .opener img {
	width: 18px;
}


.model #stlstring {
	display: none;
}

.model #container .status {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	color: #FFAF96;
	opacity: .6;
}

.model #container #annotation_controller.status:hover {
	opacity: 1;
}

.model #container {
	margin-top: 10px;
}
.model canvas {
	background: $yellow;
	cursor: pointer;
	border: 1px solid rgb(255, 233, 194);
}

//SETTINGS PAGE!

.subtitle.divider {
	padding: 10px 0px;
}

//!! General settings div stuff

.settings ul li {
	float:left;
	clear:left;
	margin: 10px 0px;
}

.settings ul li div{
	float:left;
}

.settings ul li div.action {
	text-align: center;
	width: 130px;
	margin-right: 30px;
	height: 20%;
	border-radius: 4px;
	height: 10px;
	margin-top: -10px;
	padding: 10px 0px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	
}

//Unmarked is always gray
.settings ul li .action.unmarked {
	color: $gray;
	background-color: lighten($gray, 40%);
	border: 1px solid lighten($gray, 20%);
}

.settings ul li .action.unmarked:hover {
	color: darken($gray, 20%);
}

//Unmark is red
.settings ul li .action.marked.unmark {
	color: $red;
	background-color: lighten($red, 40%);
	border: 1px solid lighten($red, 20%);
}

// Project list specific
// Marked is green
.project_list ul li .action.marked {
	background-color: $light_green;
	border: 1px solid lighten($green, 20%);
	color: $green;
}

.project_list ul li .action.unmarked:before {
	content: "Add to project";
}

.project_list ul li .action.marked:before{
	content: "Added to project";
}

.project_list ul li .action.marked.unmark:before{
	content: "Remove";
}

//Actions > version specific
//versions are blue
.versions ul li .action.marked {
	color: $blue;
	background-color: lighten($blue, 40%);
	border: 1px solid lighten($blue, 20%);
}

.versions ul li .action.unmarked:before {
	content: "Mark as version";
}

.versions ul li .action.marked:before{
	content: "Marked as version";
}

.versions ul li .action.marked.unmark:before{
	content: "Unmark";
}

.versions ul li div.dropbox {
	display: none;
}

.versions ul li div.date {
	width: 160px;
}

.versions ul li div.message {
	width: 250px;
	color: $blue;
}

.versions ul li div.message input {
	width: 100%;
}

#annotations {
	margin-top: 15px;
}

#annotation_list li {
	margin: 5px 0px;
	padding: 10px 10px;
	cursor: pointer;
	width: 100%;
	border-left: 3px solid white;
}

#annotation_list li.active {
	border-left: 3px solid $blue;
}

#annotation_list input{
	width: 100%;
	margin-top: 5px;
}

#annotation_list li.active .discussions {
	color: $black;
}
#annotation_list li .discussions div {
	display: inline;
}

#annotation_list li .discussions .member {
	color: $gray;
}
#annotation_list li .discussions .member:after {
	content: "said";
	padding-left: 5px;
	padding-right: 5px;
}

@media only screen and (max-width: 950px), only screen and (max-device-width: 950px) {
 	.container {
 		width: 100%;
 		margin-left: 0;
 		left:0;
 	}
 }

