$blue: #3079ed;
$black: #1c1c1c;
$green: green;
$gray: gray;
$red: red;

 body {
 	color: $black;
	font-family: Helvetica, Arial, serif;
	font-size: 14px;
	height: 100%;
}



.container {
	background: white;
	height: 100%;
	position: absolute;
	margin-left: -475px;
	left: 50%;
	width: 900px;
	padding: 25px ;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}


.form {
	background: white;
	border: 1px solid lighten($gray, 40%);
	padding: 10px 0px;
	float: left;
}

.form input {
	margin: 5px 0px;
	float:left;
	clear: left;
	padding: 10px 0px;
}



.row {
	float:left;
	clear:both;
	width: 100%;
}

.title, h1{
	color: $black;
	font-size: 28px;
}

.subtitle, h2 {
	font-size: 18px;
}

.splash {
	padding: 20px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}


.splash .title{
	margin-bottom: 10px;
	font-size: 50px;
}

.splash .subtitle {
	margin-bottom: 20px;
	font-size: 22px;
}

.inset {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;

}

.inset.gray {
	background: rgba(200,200,200,.4);
	border: 1px solid rgb(200,200,200);	
	color: $gray;
}
.inset.blue {
	border: 1px solid rgb(103, 176, 253);
	color: $blue;
	background: rgba(103, 176, 253,.3);
}

.inset.green {
	border:1px solid rgb(120,228,120);
	background: rgba(120,228,120,.4);
	color: $green;
}

.inset .project_list {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	background: rgba(255,255,255,0.8);

}

.inset .project_list .opener {
	position: absolute;
	top: 5px;
	right: 5px;
}
.inset .project_list ul {
	display:none;
	margin-top:10px;
	color: black;

}

.inset .project_list li {
	float: left;
	clear: left;
	margin-bottom: 5px;
}

.header {
	width: 100%;
	float:left;
	vertical-align: bottom;
	border-bottom: 1px solid rgba(200,200,200,.6);
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.header .subtitle {
	color: $gray;
}
.header .logo {
	float: left;
}

.header .member {
	float: right;
	cursor: pointer;
	padding-top: 8px; /* TODO: THIS IS DISGUSTING FIGURE OUT A BETTER WAY */;
}

.header .member ul {
	display: none;
}
.header .member ul li {
	text-align: right;
	margin: 3px 0px;
	color: gray;
}

.header .member ul li:hover {
	color: $black;
}

.header .member .subtitle:hover {
	color: $black;
}

.navigate {
	width:100%;
}

.navigate.projects {
	margin-top: 40px;
}

.navigate.projects .add {
	float:right;
	cursor: pointer;
	padding: 10px 0px;
	position:relative;
}

.navigate.projects .add span {
	font-weight: 300;
}	

.navigate.projects .add:hover span {
	font-weight: bold;
};

.navigate.projects .add .form {
	position: absolute;
	top: 40px;
	left: -30px;
	display: none;
}

.navigate.projects .add .form input[type=text] {
	padding: 5px;
	margin: 10px;
	border-bottom: 1px solid lighten(gray, 40%);
}

.navigate.projects .add .form input[type=submit]{
	padding: 10px;
	margin-left: 35px;
	background: rgba(100,100,100,0.3);
	color: $gray;
}

.navigate.projects .add .form input[type=submit]:focus,.navigate.projects .add .form input[type=submit]:hover{
	color:black;
}

.navigate ul.crumbs {
	float: left;
	padding: 10px 0px;
}

//Generic to both crumbs and navigate
.navigate ul.crumbs li {
	padding-right: 5px;
	cursor: pointer;
}


//Crumb specific
.navigate ul.crumbs > li {
	color: $blue;
	float:left;
}

.navigate .green, .navigate ul.crumbs.green > li{
	color: $green;
}

.navigate ul.crumbs > li:before {
	content: '>';
	color: blue;
	color: $gray;
	font-size: 14px;
	padding-right: 5px;
	position: relative;
	top: -2px;
	display: inline;
}

.navigate ul.crumbs > li:first-child:before {
	display: none;
}

.navigate ul.crumbs > li:last-child:before{
	display:none;
}

//TODO! THIS IS MESSED UP IT LEADS TO JANKY HTML
.navigate ul.crumbs > li:last-child{
	cursor: default;
	color: $black;
}


//Revision specific
.navigate ul.revisions {
	position: absolute;
	margin-left: 5px;
}
.navigate ul.revisions li {
	text-align: left;
	display: none;
	min-width: 100px;
	background: white;
	margin-bottom: 0px;
	padding: 0px 10px;

}

//The first-child is always block, when expanded they all are
.navigate ul.revisions li:first-child, .navigate ul.revisions.expanded li {
	display: block;
}

.navigate ul.revisions.expanded li {
	padding-top:10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid lighten($gray, 40%);
}

.navigate ul.revisions.expanded li:first-child{
	padding-top: 0px;
}
//The date display for revisions
.navigate ul.revisions li span {
	color: $gray;
	display: block;
	font-size: 14px; //TODO: getting messy again, maybe have spans be the subtitles;
}


//Only show date whn expanded
.navigate ul.revisions li:first-child span {
	display: none;
}

.navigate ul.revisions.expanded li:first-child span {
	display: block;
}

.navigate ul.revisions li:first-child:before {
	content: ">";
	font-size: 15px;
	position: absolute;
	padding-right: 5px;
	left: -5px;
	color: $gray;
}

.navigate ul.revisions.expanded li:first-child:before {
	content: "v";
}



.files .inset{
	position: relative;
	width: 194px;
	height: 150px;
	padding-top: 60px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	overflow: visible;
	cursor:pointer;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}
.files .inset:nth-child(4),.files .inset:nth-child(8),.files .inset:nth-child(12),{
    margin-right: 0px;
}

.files .inset div{
	opacity: .6;
}	

.files .inset div:first-child{
	margin-bottom: 8px;
}


.files .inset:hover div {
	opacity: 1;
}

.files .inset:hover div:first-child{
	opacity: 1;
}

.model #stlstring {
	display: none;
}

.model #container .status {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	color: #FFAF96;
	opacity: .6;
}

.model #container #annotation_controller.status:hover {
	opacity: 1;
}

.model #container {
	margin-top: 10px;
}
.model canvas {
	background: rgb(255, 255, 234);
	cursor: pointer;
	border: 1px solid rgb(255, 233, 194);
}

.versions ul li {
	float:left;
	clear:left;
	margin: 10px 0px;
}

.versions ul li:first-child{
	margin-top: 0px;
}

.versions ul li div{
	float:left;
}


.versions ul li div.dropbox {
	display: none;
}

.versions ul li div.date {
	width: 200px;
}

.versions ul li div.action {
	text-align: center;
	width: 160px;
	margin-right: 75px;

	height: 20%;
	border-radius: 4px;
	height: 10px;
	margin-top: -10px;
	padding: 10px 0px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	
}

.versions ul li div.message {
	width: 300px;
}

.versions ul li div.message input {
	width: 100%;
}
.versions ul li .action.unmarked {
	color: $gray;
	background-color: lighten($gray, 40%);
	border: 1px solid lighten($gray, 20%);
}

.versions ul li .action.unmarked:before{
	content: "Mark as version";
}

.versions ul li .action.marked {
	color: $blue;
	background-color: lighten($blue, 40%);
	border: 1px solid lighten($blue, 20%);
}

.versions ul li .action.marked:before{
	content: "Marked as version";
}

.versions ul li .action.marked.unmark {
	color: $red;
	background-color: lighten($red, 40%);
	border: 1px solid lighten($red, 20%);
}
.versions ul li .action.marked.unmark:before{
	content: "Unmark";
}

#annotations {
	margin-top: 15px;
}

#annotation_list li {
	margin: 5px 0px;
	padding: 10px 10px;
	cursor: pointer;
	width: 100%;
	border-left: 3px solid white;
}

#annotation_list li.active {
	border-left: 3px solid $blue;
}

#annotation_list input{
	width: 100%;
	margin-top: 5px;
}

#annotation_list li.active .discussions {
	color: $black;
}
#annotation_list li .discussions div {
	display: inline;
}

#annotation_list li .discussions .member {
	color: $gray;
}
#annotation_list li .discussions .member:after {
	content: "said";
	padding-left: 5px;
	padding-right: 5px;
}

@media only screen and (max-width: 950px), only screen and (max-device-width: 950px) {
 	.container {
 		width: 100%;
 		margin-left: 0;
 		left:0;
 	}
 }

