<div class="popover" id="annot_popover">
  <div class="box">
    <div class="closer"> x </div>
    <div class="content">
      <div class="row space"> Add a new annotation </div>
      <div class="row space"> <input type="text" placeholder="Enter annotation name" id="annot_input" /> </div>
      <div class="row"> <div class="submit inset blue" id="annot_submit" > Submit </div> </div>
    </div>
  </div>
</div>


<script>

  function getInput(callback,point) {
    $("#annot_popover").show();
    $("#annot_input").focus();

    $("#annot_popover .box .closer").unbind("click");
    $("#annot_popover .box .closer").click(function(){
      $("#annot_input").val("");
      $("#annot_popover").hide();
      //callback("", null);
    });


    function returnInput(){
      var value = $($("#annot_input")[0]).val();
      $("#annot_popover").hide();
      $("#annot_input").val("");
      callback(value,point);
    }
    
    $("#annot_popover #annot_input").unbind("keypress");
    $("#annot_popover #annot_input").keypress(function(e){
      if (e.which == 13) {
        returnInput();
      }
    })

    $("#annot_popover #annot_submit").unbind("click");
    $("#annot_popover #annot_submit").click(function(){
      returnInput();
    });
  }

</script>      