
<div class="row header">
	<div class="messageWrapper">
  		<div class="messageDialogue" id="errorMessage">
			Default error message
  		</div>
  	</div>
  	<div class="messageWrapper">
  		<div class="messageDialogue" id="progressMessage">
  			<img src="http://i.forbesimg.com/assets/img/loading_spinners/43px_on_transparent.gif"> Fabbit is busy! 
  		</div>
  	</div>

  		<script>
  			//Error handling UI function
  			function displayError(message){
  				$("#errorMessage").html("Oops: " + message);
  				$("#errorMessage").fadeIn(300).delay(5000).fadeOut(300);
  			}

  			//Error handling AJAX function - to be used as callback for AJAX errors
			function AJAXerrorHandler(request, textStatus, errorThrown) {
			      console.log(request);
			      var message = (request.status == 403) ? request.responseText : "An unknown error has occured";
			      displayError(message);
			}

			$.ajaxSetup({
			    beforeSend: function() {
			    	console.log("ONG");
			        $("#progressMessage").fadeIn(300);
			    },
			    complete: function() {
			    	console.log("OFGS");
			        $("#progressMessage").fadeOut(300);
			    }
			});

        $(document).ready(function(){
          $(".dropdown li:first-child").toggle(
            function(){ $(this).parent().addClass("expanded")}, 
            function(){ $(this).parent().removeClass("expanded")}
            );

          $(".notifications .dropdown li:first-child").click(function(){
           	//Do a post
          	//"Read" all the unread ones
          	$(".notifications .dropdown").children(".unread").each(function(){
          		var el = this;
          		$(this).animate({backgroundColor: "#fff"}, 1000, 
          			function(){
          				$(el).removeClass('unread')
          			});
          	});
          });
        });


  		</script>
  	<div class="logo title"> <%= link_to Fabbit, navigate_url %> </div>
  	<div class="right notifications">
		<ul class="dropdown">
	    	<li class="subtitle"> 0 events </li>
	    	<li class="unread"> Hey! </li>
	    	<li class="unread"> Heya! </li>
	    	<li> Read </li>
	    </ul>
	</div>
	<div class="right member"> 
		<ul class="dropdown">
			<li class="subtitle" id="me"> <%= current_member.name %> </li>
			<li> Your account </li>
			<li> Logout </li>
		</ul>
	</div>
</div>
