<div class="box">
  <div class="closer"> x </div>
  <div class="content">  
    <div class="row space">
      <h2> Submit files to project </h2>
    </div>
    <div class="row space" id="row_nav_list">
        <%= render "layouts/navigation_list" %> 
    </div>
    <div class="row">
      <div class="submit inset green">
        Submit to project
      </div>
    </div>
  </div>
</div>
 

<script>
  $("#addfile_popover").on("click", ".submit", function(){
    var listOfFiles = [];
    $("#addfile_popover .files.list").find(".file").each(function(i,el){

      var checkbox = $(el).find("input");

      if ($(checkbox).is(':checked')) {
        listOfFiles.push($(el).attr('data-path'));
      }
    });

    //This is what we push
    $.post('/project_model_files', {"project_id": <%= @project.id %>, "paths":listOfFiles}, console(){
      window.location.reload(true);
    });

  });

</script>