<div class="section projects">
  <div class="row navigate">
      <% if current_member.admin? %>
        <div class="add">
         <div class="subtitle green" id="add_project"> <span> + </span> Create new project  </div>

           <%= form_for @new_project, url: {action: :create, controller: :projects}, html: {class: "form", id: "project_form", remote: true} do |f| %>
                  <%= f.text_field :name,  :placeholder => "Project name", :value => "Default project", :size => "20" %>
                  <%= f.submit "Create project" %>
          <% end %>

          <script>
          $("#add_project").toggle(
            function(){ $("#project_form").show(); $("#project_form").find('input[type=text]')[0].focus(); $(this).find('span').html("-"); },
            function(){ $("#project_form").hide(); $(this).find('span').html("+"); }
            )
          </script>
        </div>  <!-- TODO: Currently the entire css for breadcrumbs is very janky -->
      <% end %>

    <ul class="subtitle crumbs green">
      <li> <a href="#">Your projects </a> </li>
    </ul>
  </div>

  <ul class="row files">
    <% if @projects.empty? %>
      <li class="inset white">
        <div> No projects available </div>
        <div>  </div>
      </li>
    <% else %>
      <%= render @projects, view: :nav_view %>
    <% end %>
  </ul>

</div>
